#students .students {
    width: 50%;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

#students .form {
    min-height: 190px;
    width: 49%;
    background-color: white;
    border-radius: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    margin-top: 20px;
}

#students h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

#students .btn {
    border: 1px solid #163A61;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    font-size: 16px;
    background-color: #163A61;
    display: block;
    margin: 15px auto 0;
}