DJANGO_DEBUG=True
DJANGO_SECRET="django-insecure-&bx1=h##%-7#&9t!ppwiq9)a(v=7=fa#!n3p$g)x0xl2k2fic$"

# redis://redis:6379/0 for docker, redis://localhost:6379/0 for localhost dev
REDIS_URL="redis://redis:6379/0"

TELEGRAM_TOKEN="YOUR_TOKEN_HERE_FROM_BOTFATHER_IN_TELEGRAM"