.school section {
    width: 50%;
    border-radius: 8px;
    padding: 10px 40px;
    margin-top: 20px;
    background-color: white;
}

.school .btn {
    background-color: #163A61;
}

.school .btn:hover {
    background-color: #163A61 !important;
}

.school .input:hover {
    /*box-shadow: 0 0 2px #163A61;*/
    border: 1px solid #366caf;
}


