select option {
  padding: 10px;
}

.phone_input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #f7f7f7;
}

#upload-photo {
  margin-top: 10px;
}

.error {
  color: #ffb082;
  font-weight: 500;
  font-size: 13px;
  margin-left: 4px;
}

/* .input {
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  padding: 8px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
} */

.input:focus {
  box-shadow: 0 0 0 0.2rem #f7f7f7;
  border-color: #bdbdbd;
  outline: 0;
}


